* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body{
    height: 150%;
    /*height: 1214px;*/
    background-color: #343945;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  
  @font-face {
    font-family: roboL;
    src: url(/css/Roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: roboB;
    src: url(/css/Roboto/Roboto-Bold.ttf);
  }
  @font-face {
    font-family: roboBI;
    src: url(/css/Roboto/Roboto-BoldItalic.ttf);
  }
  
  @font-face {
    font-family: loraI;
    src: url(/css/Lora/Lora-Italic.ttf);
  }
  @font-face {
    font-family: loraB;
    src: url(/css/Lora/Lora-Bold.ttf);
  }
  @font-face {
    font-family: loraBI;
    src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
  }
  @font-face {
    font-family: loraR;
    src: url(/css/Lora/Lora-Regular.ttf);
  }
  @font-face {
    font-family: loraM;
    src: url(/css/Lora/Lora-Medium.ttf);
  }
  
  @font-face {
    font-family: mac;
    src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
  }
  
  header {
    border-top: 16px inset black;
    border-bottom: 16px inset black;
    height: 200px;
    background-color: #343945;
    display: flex;
  }

  .currentPage {
    min-height: 5px;
    position: absolute;
    margin-top: 3%;
    /* margin-top: 3.5%; */
    margin-left: 15%;
    /* background-color: crimson; */
  }
  
  .currentPage p {
    font-size: 72px;
    /* font-size: 52px; */
    font-family: roboBI;
  }
  
  .meAVI {
    border-radius: 50%;
    border: 4px inset black;
    /* display: flex; */
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  
  .me_icon {
    margin: 0 auto;
    background-position: center;
    width: 200px;
    min-height: 200px;
  }
  
  .me_icon .circle {
    width: 300px;
    height: 300px;
  }
  
  .me_icon .circle img {
    height: 40%;
    margin: 0 auto;
    margin-left: 14.5%;
    margin-top: 8%;
    position: relative;
  }

  nav {
    height: 0;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5.3%;
    margin-left: 60%;
    position: absolute;
  }
  
  nav a {
    color: #7c8ea6;
    text-decoration: none;
    font-size: 26px;
    font-family: roboL;
  }

  .wrapper {
    color: #7c8ea6;
    width: 65%;
    margin: 0 auto;
    margin-left: 17.5%;
    margin-top: 2%;
    position: relative;
    /*
    background-color: blue;
    */
  }

  .project {
    width: 100%;
    /*
    background-color: aqua;
    */
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 3%;
    border-top: 16px inset black;
    border-bottom: 16px inset black;
    border-left: 16px inset black;
    border-right: 16px inset black;


  }

  .project .project-image {
    height: 100%;
    margin-bottom: 2%;
    margin-right: 1%;
    min-height: 100%;
    min-width: 65%;
    /*
    background-color: beige;
*/
  }

  .project .project-text {
    margin-top: 1%;
    margin-right: 2%;
    min-height: 50px;
    /*
    background-color: lightgreen;
    /* margin-left: 80px; */
  }

  .project .project-text h2 {
    font-size: 32px;
    font-family: LoraB;
  }
  
  .project .project-text h3 {
    font-size: 20px;
    font-family: LoraM;
  }

  .project .project-text p {
    font-size: 18px;
    font-family: LoraM;
  }

  .project .project-text a {
    text-decoration: none;
    color: #7c8ea6;
    font-size: 18px;
    font-family: LoraM;
  }

  .owner-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .picFIX {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    }

  .project-image img {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    position: center;
    padding: 10px;
  }

  .BLM {
    border-top: 8px inset black;
    height: 15%;
    background-color: #212429;
    height: 100%;
    margin: 0 auto;
    margin-bottom: -25%;
  }
  
  .BLM img {
    margin-top: 1%;
    margin-bottom: 0.5%;
    margin-left: 48.5%;
  }

