* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 130%;
  /*height: 1214px;*/
  background-color: #343945;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: roboL;
  src: url(/css/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboB;
  src: url(/css/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboBI;
  src: url(/css/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: loraI;
  src: url(/css/Lora/Lora-Italic.ttf);
}
@font-face {
  font-family: loraB;
  src: url(/css/Lora/Lora-Bold.ttf);
}
@font-face {
  font-family: loraBI;
  src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
}
@font-face {
  font-family: loraR;
  src: url(/css/Lora/Lora-Regular.ttf);
}
@font-face {
  font-family: loraM;
  src: url(/css/Lora/Lora-Medium.ttf);
}

@font-face {
  font-family: mac;
  src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
}

header {
  border-top: 16px inset black;
  border-bottom: 16px inset black;
  height: 200px;
  background-color: #343945;
  display: flex;
}

body{
  height: 80%;
}

.currentPage {
  min-height: 5px;
  position: absolute;
  margin-top: 3%;
  /* margin-top: 3.5%; */
  margin-left: 15%;
  /* background-color: crimson; */
}

.currentPage p {
  font-size: 72px;
  /* font-size: 52px; */
  font-family: roboBI;
}

nav {
  height: 0;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5.3%;
  margin-left: 60%;
  position: absolute;
}

nav a {
  color: #7c8ea6;
  text-decoration: none;
  font-size: 26px;
  font-family: roboL;
}

.author p {
  /* color: #2d3c57; */
  font-size: 52px;
  font-family: roboBI;
}

.u_half {
  height: 65%;
  width: ;
  margin: 0 auto;
  /* margin-bottom: 5%; */
  background-color: #212429;
  background-image: url(/images/irion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.textring {
  margin: 0 auto;
  margin-top: 8%;
  margin-left: 11.5%;
  width: 70%;
  height: 65%;
  /* background-color: darkslategray; */
  background-repeat: repeat;
  position: absolute;
  border-radius: 2.5px;
  /* border: 2.5px inset #7c8ea6; */
}

.textring p {
  font-size: 52px;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  color: #7c8ea6;
  font-family: roboL;
}

.imBIZ {
  font-size: 24px;
  margin-top: -1.25%;
  margin-left: 25%;
  position: absolute;
  color: #7c8ea6;
  font-family: roboL;
}

.BLM {
  /* height: 15%; */
  background-color: #212429;
  margin: 0 auto;
  margin-bottom: -25%;
}

.BLM img {
  margin-top: -2.5%;
  margin-bottom: 2.5%;
  margin-left: 10%;
}

footer{
  height: 0 auto;
}