* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 130%;
  /*height: 1214px;*/
  background-image: url("/prototype.2024/images/webColor_pal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: roboL;
  src: url(/css/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboB;
  src: url(/css/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboBI;
  src: url(/css/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: loraI;
  src: url(/css/Lora/Lora-Italic.ttf);
}
@font-face {
  font-family: loraB;
  src: url(/css/Lora/Lora-Bold.ttf);
}
@font-face {
  font-family: loraBI;
  src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
}
@font-face {
  font-family: loraR;
  src: url(/css/Lora/Lora-Regular.ttf);
}
@font-face {
  font-family: loraM;
  src: url(/css/Lora/Lora-Medium.ttf);
}

@font-face {
  font-family: mac;
  src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
}

body {
  height: 100%;
  /* make background "absolute"*/
  font-family: roboL;
  color: aliceblue;
}

.canvasBorder{
  height: 105%;
  width: 80%;
  margin: 0 auto;
  padding-top: 1%;
  padding-left: 12%;
  padding-right: 12%;
  background-position: center;
  background-color: #242523;
  opacity: 0.9;
}

.canvasBorder img {
  border-radius: 8px;
}

.imageTitle {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-family: roboL;
}

.imageTitle a {
  padding-top: 1.6%;
  text-decoration: none;
  color: blueviolet;
}

.imageTitle h1 {
  font-size: 56px;
  font-family: roboB;
}

.galleryPiece {
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-position: center;
}

.imageDescription {
  padding-top: 3%;
}

.imageDescription p {
  font-size: 28px;
}

footer {
  border-top: 16px inset black;
  border-bottom: 16px inset black;
  margin-top: 6%;
}

.aboutFooter {
  width: 64%;
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
}

.miscFooter {
  display: flex;
  justify-content: space-around;
}

.miscContent {
  text-align: center;
  background-color: aqua;
}

/* GALLERY ITEMS TEMPLATE */

