* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 130%;
  /*height: 1214px;*/
  background-color: #343945;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: roboL;
  src: url(/css/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboB;
  src: url(/css/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboBI;
  src: url(/css/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: loraI;
  src: url(/css/Lora/Lora-Italic.ttf);
}
@font-face {
  font-family: loraB;
  src: url(/css/Lora/Lora-Bold.ttf);
}
@font-face {
  font-family: loraBI;
  src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
}
@font-face {
  font-family: loraR;
  src: url(/css/Lora/Lora-Regular.ttf);
}
@font-face {
  font-family: loraM;
  src: url(/css/Lora/Lora-Medium.ttf);
}

@font-face {
  font-family: mac;
  src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
}

body {
  height: 100%;
  background-color: black;
  /* make background "absolute"*/
}

.canvasBorder{
  height: 90%;
  width: 80%;
  margin: 0 auto;
  padding-top: 1%;
  padding-left: 12%;
  padding-right: 12%;
  background-position: center;
  background-color: red;
}

.imageTitle h1 {
  font-size: 56px;
}

.galleryPiece {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-position: center;
}

.imageDescription {
  padding-top: 3%;
}

.imageDescription p {
  font-size: 28px;
}

footer {
  background-color: white;
  height: 10%;
}

/* GALLERY ITEMS TEMPLATE */

