* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 96%;
  /*height: 1214px;*/
  /*background-color: #343945; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: roboL;
  src: url(/css/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboB;
  src: url(/css/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboBI;
  src: url(/css/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: loraI;
  src: url(/css/Lora/Lora-Italic.ttf);
}
@font-face {
  font-family: loraB;
  src: url(/css/Lora/Lora-Bold.ttf);
}
@font-face {
  font-family: loraBI;
  src: url(/css/Lora/Lora-SemiBoldItalic.ttf);
}
@font-face {
  font-family: loraR;
  src: url(/css/Lora/Lora-Regular.ttf);
}
@font-face {
  font-family: loraM;
  src: url(/css/Lora/Lora-Medium.ttf);
}

@font-face {
  font-family: mac;
  src: url(/css/Marshmallow/Marshmallows\ and\ Chocolate\ -\ TTF.ttf);
}

/* ABOUT ME + CONTACT */

body {
  margin-top: 3%;
  font-family: roboL;
  background-image: url("/prototype.2024/images/webColor_pal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body a {
  font-size: 36px;
  font-family: roboL;
  margin-left: 65%;
  text-decoration: none;
  color: blueviolet;
}

.pictureNtext {
  display: flex;
  width: 64%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 4px;
  background-color: #242523;
  opacity: 0.8;
}

.textNdesc {
  padding-left: 4%;
  padding-right: 4%;
}

.textNdesc h1 {
  font-size: 82px;
  padding-bottom: 1%;
  font-family: roboB;
  color: aliceblue;
  opacity: 1;
}

.textNdesc h3 {
  font-size: 38px;
  padding-bottom: 2%;
  color: aliceblue;
  opacity: 1;
}

.textNdesc p {
  font-size: 24px;
  padding-bottom: 1%;
  color: aliceblue;
  opacity: 1;
}

.meSocials {
  display: flex;
  width: 50%;
  padding-top: 1%;
  justify-content: space-between;
}

.meSocials img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.textWrapper {
  width: 188%;
  justify-content: space-between;
  /*background-color: aqua;*/
  margin-top: 12%;
  margin-bottom: 12%;
}

.textBox1 {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1%;
}

.textBox2 {
  margin-bottom: 1%;
}

.textBox3 {
  margin-bottom: 1%;
}

/*

footer {
  border-top: 16px inset black;
  border-bottom: 16px inset black;
  margin-top: 9%;
  background-color: aqua;
}

.aboutFooter {
  width: 64%;
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
  background-color: red;
}

.miscFooter {
  display: flex;
  justify-content: space-around;
}

.miscContent {
  text-align: center;
  background-color: aqua;
}
  */